@import "./global.scss";

.chk-box {
    @extend .border-box;
    width: 13px;
    height: 13px;
    outline: 1px solid black;
    position: relative;
    margin-right: 0;
    margin-left: auto;
    cursor: pointer;

    &.disabled {
        opacity: 0.5;
        cursor: default;
    }

    &.checked::after {
        content: "";        
        background-repeat: no-repeat;
        width: 13px;
        height: 13px;
        display: block;  
    }

    &.checked.GreenHook::after {
        background-image: url("./../images/GreenHook.svg");
    }

    &.checked.DefaultCross::after {
        background-image: url("./../images/DefaultCross.svg");
    }
}
  
  