.select {
    width: 100%;
    //position: relative;

    &.select--invalid {
        border: 1px solid red;
    }

    input {
        width: 100%;
    }

    .select-results {
        position: absolute;
        //width: 100%;
        display: none;
        background-color: white;

        &> div:hover {
            background-color: lightblue;
            cursor: pointer;
        }

        &.select-results--open {
            display: block;
        }
    }
}