@import "global";

.tabs {
    @extend .box-sizing;
    width: 100%;

    .tabs-bar {
        width: 100%;

        .tab-header {
            display: inline-block;
            border-top: 1px solid black;
            width: 100px;
            cursor: pointer;

            &.tab-header--disabled {
                cursor: default;
            }

            &~.tab-header {
                border-left: 1px solid brown;
            }

            &:first-child {
                border-left: 1px solid black;
            }
            &:last-child {
                border-right: 1px solid black;
            }
        }
    }

    .tabs-content {
        .tab-body {
            display: none;

            &.tab-body--active {
                display: block;
            }
        }
    }
}