.tabs {
    width: 100%;

    .bar {
        border-bottom: 1px solid red;
        width: 100%;

        .header {
            display: inline-block;
            border-top: 1px solid black;
            width: 100px;
            cursor: pointer;

            &.active {
                
            }

            &.disabled {
                cursor: default;
            }

            &~.header {
                border-left: 1px solid brown;
            }

            &:first-child {
                border-left: 1px solid black;
            }
            &:last-child {
                border-right: 1px solid black;
            }
        }
    }

    .content {
        .body {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}