@import "global";

.message {
    @extend .box-sizing;
    width: 100%;
    position: fixed;
    bottom: 0px;
    transition-property: opacity;
    transition-duration: 2s;
    opacity: 1;

    &.message--fade-out {
        opacity: 0;
    }

    & > * {
        text-align: center;
    }

    & .message--success {
        background-color: green;
    }

    & .message--error {
        background-color: red;
    }

    & .message--info {
        background-color: orange;
    }
}